
.nearbyBox {
    position: relative;
    margin: 10px 10px 0;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tags {
    max-width: 355px;
    overflow-x: auto;
    position: relative;
    margin: 0px 10px 0;
    white-space: nowrap;
    span {
      padding: 2px 10px;
      border: 1px solid #999;
      margin-right: 8px;
      font-size: 12px;
      border-radius: 4px;
      color: #999;
      &.checked {
        color: #ff6700;
        border: 1px solid #ff6700;
      }
    }
  }
  .shopList {
    margin: 10px;
    .noShop {
      img {
        display: block;
        width: 50%;
        margin: 10px auto;
      }
      p {
        text-align: center;
      }
    }
    .content {
      max-width: 300px;
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 3px;
      .shop {
        border: 1px solid #f5f5f5;
        margin-right: 10px;
        border-radius: 4px;
        img {
          width: 100%;
          display: block;
        }
        .bg {
          position: relative;
          width: 100px;
          height: 60px;
          .logo {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .title {
          width: 80px;

          text-align: center;
          margin: 22px auto 4px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .coupon {
          width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 20px;
          border: 1px solid #ff6700;
          border-radius: 3px;
          text-align: center;
          margin: 0px auto 10px;
          color: #ff6700;
          font-size: 10px;
          line-height: 20px;
        }
      }
    }
  }