.wgt-nearby-shop {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
    .sp-countdown {
      display: inline-block;
      position: relative;
      top: -4px;
    }
  }
  .wgt-bd {
  }
  .nearby-box {
    background-color: #fff;
    margin: 0 8px;
    border-radius: 8px;
  }

  .tag-list {
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .tag-item {
      display: inline-block;
      margin-right: 10px;
      padding: 0 5px;
      background-color: #f5f5f5;
      border-radius: 24px;
      height: 24px;
      line-height: 24px;
      // min-width: 80px;
      font-size: 12px;
      color: #444;
      text-align: center;
      cursor: default;
      &.active {
        color: var(--appThemeColor);
        background: rgba(var(--appThemeColorRgb), 0.2);
      }
    }
  }
  .shop-list {
    .default-shop {
      text-align: center;
      overflow: hidden;
      padding: 24px 0;
      font-size: 13px;
      color: #888;
      .sp-image {
        margin: 0 auto 6px;
      }
    }
    .shop-content {
      white-space: nowrap;
      padding: 0 10px 10px;
      overflow-x: auto;
      font-size: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      .shop-item {
        // width: 100px;
        // border-radius: 8px;
        display: flex;
        overflow: hidden;
        // display: inline-block;
        background-color: #f5f5f5;
        margin-bottom: 10px;
        padding: 10px;
        // margin-right: 8px;
      }
      .shop-banner {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 70px;
        position: relative;
      }
      .store-map {
        width: 50px;
        height: 50px;
      }
      .store-details {
        margin-left: 12px;
        flex: 1;
        .product-details-list{
          margin-right: 12px;
        }
        .name {
          font-size: 15px;
        }
        .free-shipping {
          color: #666666;
          font-size: 12px;
          margin-bottom: 12px;
        }
        .product-details {
          display: flex;
          .name {
            width: 40px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .underlined-price {
            font-size: 12px;
            color: #bbbbbb;
            text-decoration-line: line-through;
          }
        }
      }
      .logo-wrap {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        padding: 2px;
      }
      .shop-name {
        width: 100px;
        font-size: 12px;
        margin: 30px 0 6px;
        padding: 0 4px;
        @include text-overflow();
      }
      .coupon-list {
        height: 18px;
        padding: 0 4px;
        margin-bottom: 6px;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        .coupon-item {
          font-size: 12px;
          border: 1px solid var(--appThemeColor);
          color: var(--appThemeColor);
          display: inline-block;
          line-height: 16px;
          padding: 0 4px;
          border-radius: 2px;
          margin-right: 4px;
        }
      }
    }
  }
}
