.attr-panel-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  .cell-label {
    width: 80px;
    color: #888;
  }
  .cell-value {
    width: 220px;
    text-align: right;
  }

  .el-radio-button {
    &:first-child {
      .el-radio-button__inner {
        border-radius: 2px 0 0 2px;
      }
    }
    &:last-child {
      .el-radio-button__inner {
        border-radius: 0 2px 2px 0;
      }
    }
  }
}
