.page-decorate-index {
  display: flex;
  flex-direction: column;
  height: 100%;
  .decorate-hd {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
  }
  .decorate-bd {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .left-container {
    background: #fff;
    width: 160px;
    .components-view {
      display: flex;
      flex-wrap: wrap;
    }
    .wgt-item {
      width: 80px;
      height: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &:hover {
        background: #409eff;
        cursor: move;
        .wgt-icon {
          color: #fff;
        }
        .wgt-name {
          color: #fff;
        }
      }
    }
    .wgt-icon {
      font-size: 26px;
      color: #666;
    }
    .wgt-name {
      color: #666;
      font-size: 13px;
    }
  }
  .center-container {
    background: #f7f8fa;
    flex: 1;
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 160px;
    right: 380px;
    bottom: 0;
    .weapp-template {
      width: 375px;
      margin: 40px auto;
      box-shadow: 0 0 14px 0 rgb(0 0 0 / 10%);
    }
    .weapp-header {
      background-image: url('../../assets/imgs/weapp-header.png');
      height: 64px;
      width: 375px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
    .wgt-tip {
      position: absolute;
      right: 386px;
      background-color: #fff;
      width: 60px;
      text-align: center;
      border-radius: 2px;
      font-size: 12px;
      padding: 2px 6px;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
      box-sizing: border-box;
      &:after {
        content: ' ';
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left-color: #fff;
        position: absolute;
      }
    }
  }
  .components-wrap {
    min-height: 750px;
    .sortable-ghost {
      // display: none;
      .wgt-icon,
      .wgt-name {
        display: none;
      }
      .wgt-placeholder {
        display: block;
      }
    }
  }
  .right-container {
    background: #fff;
    width: 380px;
    overflow: auto;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    .wgt-name {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #f5f5f5;
    }
  }
  .wgt-placeholder {
    height: 100px;
    line-height: 100px;
    background: #b2cefd;
    text-align: center;
    display: none;
    .placeholder-txt {
      font-size: 13px;
    }
  }

  .wgt-render-item {
    // height: 200px;
    position: relative;
    &:hover {
      &:before {
        border: 1px dashed #155bd4;
        content: '';
        position: absolute;
        width: 377px;
        height: 100%;
        left: -1px;
        top: 0;
        box-sizing: border-box;
        z-index: 99;
        cursor: move;
      }
    }
  }
}
