.wgt-shop {
  overflow: hidden;

  &-container-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 12px;


    .shop-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .shop-info {
        display: flex;
        align-items: center;

        .shop-logo {
          width: 54px;
          height: 54px;
          background: #FFFFFF;
          border-radius: 6px 6px 6px 6px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          overflow: hidden;
          margin-right: 9px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .shop-name {
          font-weight: 600;
          font-size: 20px;
          color: #1A1A1A;
        }
      }

      .shop-actions {
        display: flex;
        align-items: center;

        .favorite-btn {
          width: 28px;
          height: 28px;
          background: #F8F8F8;
          border-radius: 14px;
          border: 1px solid #EBEBEB;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;

          i {
            font-size: 20px;
            color: #999;
          }
        }

        .enter-shop-btn {
          width: 70px;
          height: 30px;
          background: #F8F8F8;
          border-radius: 6px;
          border: 1px solid #EBEBEB;
          font-weight: 500;
          font-size: 13px;
          color: #1A1A1A;
          text-align: center;
          line-height: 30px;
        }
      }
    }

    .shop-products {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-top: 7px;
      gap: 5px;

      &::-webkit-scrollbar {
        display: none;
      }

      .product-item {
        flex: 0 0 auto;
        width: 113px;

        &:last-child {
          margin-right: 0;
        }

        .product-image {
          width: 113px;
          height: 113px;
          overflow: hidden;
          margin-bottom: 6%;
          background: #BFBFBF;
          border-radius: 6px 6px 8px 8px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .product-title {
          font-weight: 400;
          font-size: 12px;
          color: #1A1A1A;
          text-align: left;
          margin-bottom: 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .product-tags {
          display: flex;
          margin-bottom: 6px;
          gap: 3px;

          .tag {
            padding: 2px 3px;
            border-radius: 3px;
            font-weight: 500;
            font-size: 9px;

            &.tag-0 {
              border: 1px solid rgba(212, 0, 59, 0.15);
              color: #D4003B;
            }

            &.tag-1 {
              color: #D4003B;
              background: rgba(212, 0, 59, 0.1);
              border: 1px solid rgba(212, 0, 59, 0.15);
            }

            &.tag-2 {
              background: rgba(203, 152, 0, 0.1);
              color: #CB9800;
              border: 1px solid rgba(203, 152, 0, 0.15);
            }
          }
        }

        .product-price {
          display: flex;
          align-items: baseline;

          .current-price-symbol {
            font-family: D-DIN-PRO, D-DIN-PRO;
            font-weight: 500;
            font-size: 11px;
            color: #1A1A1A;
          }

          .current-price {
            font-family: D-DIN-PRO, D-DIN-PRO;
            font-weight: 600;
            font-size: 15px;
            color: #1A1A1A;
          }

          .original-price {
            font-family: D-DIN-PRO, D-DIN-PRO;
            font-weight: 400;
            font-size: 11px;
            color: #BFBFBF;
            text-decoration-line: line-through;
            text-transform: none;
            padding-left: 3px;
          }
        }
      }
    }
  }

  &-item {
    border-radius: 8px;
    overflow: hidden;
    min-width: calc(100% - 30px)
  }

  // 字母索引样式
  &-container-alphabet {
    position: relative;
    padding-left: 16px;
    padding-right: 12px;

    .letter-index {
      width: 16px;
      height: 22px;
      font-weight: 500;
      font-size: 16px;
      color: #1A1A1A;
      text-align: center;
      line-height: 22px;
      margin-left: 4px;
    }
    .category-header{
      padding-top: 24px;
      padding-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .all-category {
        font-size: 14px;
        color: #D4003B;
      }
    }

    .brand-list {
      position: relative;

      .brand-group {
        .letter-index {
          font-size: 18px;
          font-weight: 600;
          color: #1A1A1A;
          margin-bottom: 10px;
        }

        .brand-items {
          .brand-item {
            padding: 12px 0px 12px 0px;
            display: flex;
            align-items: center;
            height: 64px;
            border-bottom: 1px solid #EBEBEB;
            box-sizing: border-box;

            &.highlight {
              background: rgba(155, 81, 224, 0.15);
            }

            .el-image {
              min-width: 40px;
              min-height: 40px;
              max-width: 40px;
              max-height: 40px;
              background: #F8F8F8;
              border-radius: 6px 6px 6px 6px;
              margin-right: 6px;
              
            }
            .image-slot{
              width: 100%;
              height: 40px;
              background: #F8F8F8;
              border-radius: 6px 6px 6px 6px;
            }

            .brand-info {
              margin-bottom: 5px;

              &-top {
                display: flex;
                align-items: center;
              }

              .brand-name {
                font-weight: 500;
                font-size: 14px;
                color: #1A1A1A;
              }

              .brand-tag {
                background: rgba(212, 0, 59, 0.06);
                border-radius: 3px 3px 3px 3px;
                font-weight: 400;
                font-size: 9px;
                color: #D4003B;
                padding: 0px 3px;
                margin-left: 9px;
              }

              .auto-tag.small {
                height: 16px;
                background: #4CD964;
                border-radius: 3px;
                padding: 0 6px;
                font-size: 10px;
                color: #FFFFFF;
                line-height: 16px;
              }
            }

            .brand-meta {
              font-weight: 400;
              font-size: 10px;
              color: #BFBFBF;
            }
          }
        }
      }
    }

    .alphabet-nav {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 16px;

      .letter-item {
        font-weight: 500;
        font-size: 12px;
        color: #BFBFBF;
        line-height: 16px;
      }
    }
  }

}