.wgt-store {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
  }
  .wgt-bd {
    .wgt-block {
      padding: 10px;
    }
    .store-info {
      display: flex;
      align-items: center;
      .name {
        margin-left: 6px;
      }
      .tags {
        display: flex;
        margin-left: 6px;
        .tag {
          font-size: 12px;
          margin-right: 4px;
          border-radius: 4px;
          color: #c3c3c3;
          border: 1px solid #c3c3c3;
          line-height: 12px;
          padding: 2px 4px;
        }
      }
    }
    .activity-goods {
      margin-top: 6px;
      .goods-list {
        margin-top: 6px;
        display: flex;
        overflow-x: auto;
      }
      .goods-item {
        display: inline-block;
        margin-right: 6px;
      }
    }
  }
}
