.wgt-slider {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
  }
  .wgt-bd {
    position: relative;
    &.spaced {
      padding: 0 10px;
      .slider-container {
        right: 10px;
        left: 10px;
      }
      .slider-pagination {
        right: 10px;
        left: 10px;
      }
    }
  }
  .slider-item {
    overflow: hidden;
    &.rounded {
      border-radius: 8px;
    }
  }
  .placeholder-item {
    visibility: hidden;
  }
  .slider-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .sp-image {
      &.rounded {
        border-radius: 8px;
      }
    }
  }
  .el-carousel__container {
    height: 100%;
  }
  .slider-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    &.left {
      justify-content: flex-start;
    }
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
    .dot-item {
    }
  }
}
