/* action-container */
.action-container {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;

  .btn-upload {
    display: inline-block;
  }

  .el-button,
  .el-dropdown {
    margin-left: 0;
  }
}

/* sp-finder */
.sp-finder {
  .pop-edit-box-icon {
    .icon-edit {
      font-size: 13px;
      margin-left: 2px;
    }
  }

  &__popover-edit {
    // display: flex;
    // align-items: center;
    width: auto !important;
    // .pop-edit-container {
    //   display: flex;
    //   align-items: center;
    //   margin: 0 0 0 10px !important;
    // }
  }

  .sp-finder-actions-item {
    // margin-bottom: 8px;
  }

  .sp-finder-actions__wrap {
    justify-content: flex-start !important;
  }

  .sp-finder-search {
    background-color: #f6f7f9;
    padding: 16px 0 0 0;
    border: none;

    .sp-finder-search-fields {
      margin-left: 0;

      .search-field {
        width: auto !important;
        padding: 0 8px 16px 0;
        flex-grow: 0 !important;
      }
    }

    .search-field-label {
      width: 90px;
    }

    .search-field-value {
      width: 214px;
    }
  }

  .sp-finder-bd {
    padding: 0;

    .el-pagination {
      text-align: center;
    }

    .el-loading-spinner {
      top: 50%;
      left: 50%;
      width: auto;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  .sp-finder-actions {
    &-item {
    }

    &__wrap {
      justify-content: flex-start !important;
      display: flex;
      gap: 8px;

      .sp-finder-button {
        .el-button {
          padding: 8px 0;
        }
      }
    }
  }

  .sp-finder-footer {
    margin-top: 16px;

    .el-pagination {
      text-align: right;
    }
  }

  .copitext-col {
    display: flex;
    gap: 4px;
  }

  .el-table--border .el-table__cell:last-of-type {
    border-right: 1px solid #ebeef5;
  }

  .el-table--border .el-table__cell:first-of-type {
    border-left: 1px solid #ebeef5;
  }

  .el-table thead tr th:first-child {
    border-right: none;
  }

  .el-table thead th {
    // border-left: none !important;
    background: #f0f2f5 !important;
  }

  .el-table__row--striped {
    .el-table__cell {
      background: #fff !important;
    }
  }
}
