$--color-primary: var(--primary, #ff0000) !default;

$--button-font-weight: 400;
$--button-padding-vertical: 8px;
$--button-padding-horizontal: 10px;

$--border-radius-base: 6px;

$--input-height: 32px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@function mix($color1, $color2, $p: 50%) {
  @return color-mix(in srgb, $color1 $p, $color2);
}

@import '~element-ui/packages/theme-chalk/src/index';

// el-tabs
.el-tabs {
  &--card {
    .el-tabs__header {
      border-bottom-width: 0;
      margin-bottom: 8px;
    }

    .el-tabs__nav {
      height: 36px;
      background: #f0f2f5;
      border-radius: 2px !important;
      padding: 4px;
      border-width: 0 !important;
    }

    .el-tabs__item {
      height: 28px;
      line-height: 28px;
      font-size: 13px;
      font-weight: 400;
      color: #666;
      border-left-width: 0 !important;

      &.is-active {
        background: #fff;
        color: $--color-primary;
      }
    }
  }
}

.el-button {
  & + .el-button {
    margin-left: 8px;
  }

  & + .el-dropdown {
    margin-left: 8px;
  }

  .ecx-icon {
    font-size: 14px;
  }
}

.el-dropdown {
  & + .el-button {
    margin-left: 8px;
  }

  & + .el-dropdown {
    margin-left: 8px;
  }
}

.el-table {
  &--border {
    .el-table__header {
      th {
        background: #f0f2f5;
        color: #666;
        padding: 6px 0;
        font-weight: 400;
        border-left: 1px solid #e8e8e8;
      }
    }

    .el-table__cell {
      border-right-width: 0;
    }

    td {
      border-right-width: 0;
    }
  }
}
