@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './tokens-default.scss';
@import './element-ui.scss';
@import './common.scss';

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #666;
  font-size: 14px;
}

#app {
  height: 100%;
  width: 100%;
}
