.page-decorate-pc {
  display: flex;
  flex-direction: column;
  height: 100%;
  .decorate-hd {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .decorate-bd {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .center-container {
    background: #f7f8fa;
    flex: 1;
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 0;
    right: 390px;
    bottom: 0;
    .decorate-view {
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
      height: 100%;
      // width: 95%;
      box-sizing: border-box;
      // padding: 24px 40px;
      // margin: 36px auto;
    }
  }
  .right-container {
    background: #fff;
    width: 390px;
    overflow: auto;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    .wgt-name {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #f5f5f5;
    }
  }
  .wgt-placeholder {
    height: 100px;
    line-height: 100px;
    background: #b2cefd;
    text-align: center;
    display: none;
    .placeholder-txt {
      font-size: 13px;
    }
  }
}
