.wgt-goods-scroll {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
  }
  .wgt-bd {
    position: relative;
    &.spaced {
      padding: 0 10px;
    }
    .goods-list {
      .scroll-goods {
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        display: flex;
      }
      .scroll-item {
        display: inline-block;
        position: relative;
        padding: 3px 0 0 3px;
        margin-left: 5px;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
        .goods-leaderboard {
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 40px;
          z-index: 90;
          .goods-leaderboard-img {
            width: 100%;
            height: 100%;
          }
          .goods-leaderboard-text {
            position: absolute;
            top: 4px;
            transform: rotate(-45deg);
            color: #fff;
            font-size: 12px;
            z-index: 91;
          }
        }
        .goods-imgs {
          position: relative;
          border-radius: 6px;
          overflow: hidden;
          border: 1px solid #f5f5f5;
        }
        .goods-title {
          white-space: normal;
          width: 120px;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: 30px;
          margin-top: 5px;
          line-height: 1.4;
          font-size: 12px;
          color: #6e6e6e;
        }
        .goods-caption {
          padding-top: 3px;
          height: 30px;
          font-size: 14px;
          color: #00081c;
          font-weight: 600;
          .cur {
            font-size: 10px;
          }
          .marketing-price {
            padding-left: 5px;
            font-size: 11px;
            color: #ccc;
            text-decoration: line-through;
            font-weight: 500;
          }
        }
        .activity-label {
          display: flex;
          flex-wrap: wrap;
          p {
            border-radius: 4px;
            padding: 0px 4px;
            font-size: 10px;
            line-height: 16px;
            margin: 0px 2px 2px 0px;
          }
        }
        .goods-more {
          width: 147px;
          height: 147px;
          text-align: center;
          line-height: 147px;
          background: #f4f4f4;
          position: relative;
          border-radius: 6px;
          overflow: hidden;
          border: 1px solid #f5f5f5;
          div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 147px;
          }
        }
      }
    }
  }
  &-timer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 11px;
    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;
      height: 20px;
      padding: 0 3px;
      background: #333;
      color: #fff;
      border-radius: 2px;
      font-size: 10px;
      font-family: sans-serif;
    }
    .dot {
      padding: 0 2px;
    }
  }
}

