.wgt-coupon {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
  }
  .wgt-bd {
    padding: 0 10px;

    &.coupon-style-2 {
      display: flex;
      justify-content: space-between;
      .wgt-coupon-item {
        width: calc(50% - 5px);
      }
      .coupon-bd {
        display: block;
        line-height: 36px;
        .coupon-amount {
          width: 100%;
          height: auto;
          margin-top: 12px;
        }
        .coupon-desc {
          width: 100%;
          height: auto;
          text-align: center;
          .desc {
            display: none;
          }
        }
      }
      .coupon-ft {
        width: 40px;
        .btn {
          writing-mode: vertical-rl;
          margin: 8px auto 0;
          letter-spacing: 8px;
        }
      }
    }
    &.coupon-style-3 {
      display: -webkit-box;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .wgt-coupon-item {
        width: calc(45% - 5px);
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      .coupon-bd {
        display: block;
        line-height: 36px;
        .coupon-amount {
          width: 100%;
          height: auto;
          margin-top: 12px;
        }
        .coupon-desc {
          width: 100%;
          height: auto;
          text-align: center;
          .desc {
            display: none;
          }
        }
      }
      .coupon-ft {
        width: 40px;
        .btn {
          writing-mode: vertical-rl;
          margin: 8px auto 0;
          letter-spacing: 8px;
        }
      }
    }
  }

  .wgt-coupon-item {
    background-color: var(--appThemeColor);
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: var(--appThemeColor);
      border-radius: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
    }
    &.has-img {
      &:before {
        display: none;
      }
    }
    .coupon-bd {
      height: 80px;
      background-color: #fff;
      flex: 1;
      margin: 5px 0 5px 5px;
      display: flex;
      .coupon-amount {
        height: 80px;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        .value {
          font-size: 30px;
          color: var(--appThemeColor);
        }
        .package-value {
          font-size: 24px;
          color: var(--appThemeColor);
        }
        .symbol {
          font-size: 18px;
          color: var(--appThemeColor);
          position: relative;
          top: 4px;
          margin: 0 2px;
        }
      }
      .coupon-desc {
        height: 80px;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 18px;
        .name {
          font-size: 15px;
          color: var(--appThemeColor);
        }
        .desc {
          font-size: 12px;
          color: var(--appThemeColor);
        }
      }
    }
    .coupon-ft {
      width: 60px;
      color: #fff;
      .btn {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}
