.wgt-couponcard {
  width: 100%;
  box-sizing: border-box;

  .wgt-couponcard-inner {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    min-height: 76px;
  }

  &-one {
    .wgt-couponcard-item {
      background-image: url('../../../../assets/imgs/wgt/couponbg1.png');
      width: 100%;
      flex-direction: row;
      padding: 12px 18px;
      box-sizing: border-box;
      height: 78px;

      .wgt-couponcard-item-body {
        display: flex;
        align-items: center;
        height: 100%;

        .wgt-couponcard-item-header {
          padding-right: 12px;
          border-right: 1px dashed #EBEBEB;
          height: 30px;
          display: flex;
          align-items: baseline;
          justify-content: center;
        }

        .wgt-couponcard-item-info {
          flex: 1;
          flex-shrink: 0;
          padding: 0 12px;
          height: 100%;
          box-sizing: border-box;
          justify-content: flex-start;
          align-items: flex-start;

          .use-desc {
            text-align: left;
            margin-top: 2px;
            margin-bottom: 6px;
          }

          .use-time {
            font-weight: 400;
            font-size: 9px;
            color: #BFBFBF;
            text-align: left;
          }
        }
      }

      .wgt-couponcard-item-btn {
        min-width: 72px;
        height: 25px;
        border-radius: 4px;
        padding: 0px;
        margin: 0px;
        line-height: 25px;
        text-align: center;
      }
    }
  }

  &-two {
    .wgt-couponcard-item {
      background-image: url('../../../../assets/imgs/wgt/couponbg2.png');
      width: calc(100% / 2);
      height: 103px;
      justify-content: space-between;
      padding: 16px 12px 12px;
    }

    .wgt-couponcard-item-body {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 9px;
      border-bottom: 1px solid #EBEBEB;
      padding-bottom: 8px;
      width: 100%;
      height: 42px;
      box-sizing: border-box;

      .wgt-couponcard-item-header {
        .coupon-title {
          line-height: 100%
        }
      }

      .wgt-couponcard-item-info {
        justify-content: flex-start;
        align-items: flex-start;

        .use-desc {
          text-align: left;
        }
      }
    }

    .wgt-couponcard-item-btn {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
    }
  }


  &-three {
    .wgt-couponcard-item {
      background-image: url('../../../../assets/imgs/wgt/couponbg3.png');
      height: 126px;
      width: calc(100% / 3);
      padding: 12px;
      box-sizing: border-box;

      .wgt-couponcard-item-header {
        width: 100%;
        border-bottom: 1px dashed #EBEBEB;
        padding-bottom: 6px;
        margin-bottom: 6px;
        height: 36px;
        box-sizing: border-box;
      }

      .wgt-couponcard-item-btn {
        margin-top: 6px;
        padding: 1px 9px;
      }
    }
  }

  &-more {
    .wgt-couponcard-item {
      background-image: url('../../../../assets/imgs/wgt/couponbg4.png');
      width: 102px;
      min-width: 102px;
      max-width: 102px;
      height: 126px;
      padding: 12px;
      box-sizing: border-box;

      .wgt-couponcard-item-header {
        width: 100%;
        border-bottom: 1px dashed #EBEBEB;
        padding-bottom: 6px;
        margin-bottom: 6px;
        height: 36px;
        box-sizing: border-box;
      }

      .wgt-couponcard-item-btn {
        margin-top: 6px;
        padding: 1px 9px;
      }
    }
  }

  &-item {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .wgt-couponcard-item-body {
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
    }

    .wgt-couponcard-item-header {
      display: flex;
      justify-content: center;
      align-items: baseline;

      .coupon-title {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #D4003B;
        text-align: left;
        font-style: normal;
        text-transform: none;
      }

      .coupon-unit {
        font-family: D-DIN-PRO, D-DIN-PRO;
        font-weight: 500;
        font-size: 18px;
        color: #D4003B;
      }
    }

    .wgt-couponcard-item-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .use-title {
        font-family: PingFang SC, PingFang SC;
        font-weight: 500;
        font-size: 13px;
        color: #1A1A1A;
        text-align: center;
        line-height: 18px;
      }

      .use-desc {
        font-weight: 400;
        font-size: 11px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #1A1A1A;
        width: 100%;
        text-align: center;
        line-height: 15px;
      }
    }

    .wgt-couponcard-item-btn {
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;
      padding: 1px 9px;
      border-radius: 4px;
    }
  }

  .wgt-couponcard-item-one {
    background-image: url('../../../../assets/imgs/wgt/couponbg1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .wgt-couponcard-item-two {
    background-image: url('../../../../assets/imgs/wgt/couponbg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
  }

}