html,
body {
  margin: 0;
  height: 100%;
  background: #f0f2f5;
  #app {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

.view-flex {
  display: flex;
}
.view-flex-item {
  flex: 1;
}

.dom-link {
  cursor: pointer;
}

.filter-header {
  .el-input {
    width: 220px;
    margin: 0 5px 5px 0;
  }
}

.logout-popper {
  .popover-row {
    display: flex;
    align-items: center;
    color: #888;
    &:first-child {
      border-bottom: 1px solid #efefef;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
}

// el-css
.el-button {
  &-group {
    margin-right: 5px;
  }
  & + .el-button {
    margin-left: 5px;
  }
}

.el-row {
  margin-bottom: 10px !important;
}

.copy-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.page-body {
  &.has-footer {
    margin-bottom: 57px;
  }
}

#nprogress {
  .bar {
    background-color: $color-primary;
  }
  .peg {
    box-shadow: 0 0 10px $color-primary, 0 0 5px $color-primary;
  }
  .spinner-icon {
    border-top-color: $color-primary;
    border-left-color: $color-primary;
  }
}

/***** action-container *****/
.action-container {
  margin-bottom: 8px;
  button {
    margin: 0 8px 8px 0 !important;
  }
}

/***** filter-container *****/
.filter-container {
  background: #f6f7f9;
  border-radius: 2px;
}

/***** footer-container *****/
.footer-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 208px;
  background: #fff;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #efefef;
  z-index: 2000;
}

/***** finder *****/
.sp-finder {
  .sp-finder-search {
    background-color: #f6f7f9;
    padding: 16px 0 0 0;
    border: none;
    .sp-finder-search-fields {
      margin-left: 0;
      .search-field {
        width: auto !important;
        padding: 0 8px 16px 0;
        flex-grow: 0 !important;
      }
    }
    .search-field-label {
      width: 90px;
    }
    .search-field-value {
      width: 214px;
    }
  }
  .sp-finder-bd {
    padding: 0;
    .el-pagination {
      text-align: center;
    }
  }
  .el-table--border .el-table__cell:last-of-type {
    border-right: 1px solid #ebeef5;
  }
  .el-table--border .el-table__cell:first-of-type {
    border-left: 1px solid #ebeef5;
  }
  .el-table thead tr th:first-child {
    border-right: none;
  }
  .el-table thead th {
    border-left: none !important;
    background: #f0f2f5 !important;
  }
  .el-table__row--striped {
    .el-table__cell {
      background: #fff !important;
    }
  }
}
