/**
 * Copyright © ShopeX （http://www.shopex.cn）. All rights reserved.
 * See LICENSE file for license details.
 */
.sp-form-plus {
  .form-field {
    margin-bottom: 22px;
  }

  .form-field-divider {
    &:before {
      position: absolute;
      top: 11px;
      bottom: 11px;
      left: 0;
      width: 2px;
      background-color: #298dff;
      content: '';
    }

    padding: 6px 0 6px 8px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid #f1f2f5;
    margin-bottom: 10px;
  }

  .form-field {
    // 可以添加更多样式
    .el-form-item {
      margin-bottom: 0;

      &__label {
        padding-right: 8px;
      }

      &.label-inline {
        .el-form-item__label {
          float: none;
        }
        .el-form-item__content {
          margin-left: 0 !important;
        }
      }

      &.hide-field-required-mark {
        .el-form-item__label {
          &::before {
            content: none !important;
          }
        }
      }
    }

    .el-date-picker__wrapper,
    .el-datetime-picker__wrapper {
      .el-input__prefix {
        display: none !important;
      }
      .el-input__icon {
        display: none !important;
      }
      .el-input__inner {
        padding-left: 15px !important;
      }
    }

    .el-cascader {
      width: 100%;
    }
  }
}
