.wgt-showcase {
  &.padded {
    padding: 10px 0;
  }
  .wgt-hd {
    padding: 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }
    .sub-title {
      color: #666;
      margin-left: 4px;
    }
  }
  .wgt-bd {
    position: relative;
    padding: 0 10px;
    display: flex;
    .sp-image {
      height: 100%;
    }
    .lf {
      width: calc(50% - 5px);
      height: 310px;
      margin-right: 5px;
    }
    .rg {
      width: calc(50% - 5px);
      margin-left: 5px;
    }
    .tp {
      height: 150px;
      margin-bottom: 10px;
    }
    .bt {
      height: 150px;
    }
  }
}
